/* app css stylesheet */

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  position: fixed;
  overscroll: hidden;
}

::-webkit-scrollbar { 
    display: none; 
}

.full-size {
  height: 100%;
  width: 100%;
}

.full-height {
  height: 100%;
}

/* Poker Pane */

#poker-pane {
  background-image: url('../images/table.png');
  background-repeat: repeat;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

#shadow-box {
  background: #111;
  opacity: 0.6;
}

#loading-container {
  position: absolute;
  top: 50%;
  margin-top: -160px;
  left: 0px;
  width: 100%;
}

#loading {
  width: 800px;
  height: 120px;
  margin-left: auto;
  margin-right: auto; 
  background: #ccc;
  border-radius: 10px;
  opacity: 1.0;
  text-align: center;
  font-size: 48pt;
}

/* Chat Pane */

#chat-pane {
  background-image: url('../images/chat_pane.png');
  background-repeat: repeat;
}

#chat-pane-header {
  color: white;
  text-align: center;
}

#chat-pane-content {
  color: white;
  font-size: x-large;
  overflow-y: hidden;
}

.message {
  margin: 10px 0px;
}

.system-message {
  color: gray;
  text-align: center;
}
