<div ng-controller="ChatCtrl" class="full-height">

  <h1 id="chat-pane-header">{{chat_title}}</h1>

  <div id="chat-pane-content" ng-style="style()" resize-height scroll-glue>
    <div ng-repeat="message in messages">
      <div ng-switch on="message.isSystemMessage">
        <div ng-switch-when="true" class="message system-message">{{message.content}}</div>
        <div ng-switch-default class="message user-message">{{message.from.username}}:  {{message.content}}</div>
      </div>
    </div>
  </div>
</div>
