/* app css stylesheet */

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  position: fixed;
  overscroll: hidden;
}

::-webkit-scrollbar { 
    display: none; 
}

.full-size {
  height: 100%;
  width: 100%;
}

.full-height {
  height: 100%;
}

/* Poker Pane */

#poker-pane {
  background-image: url('../images/table.png');
  background-repeat: repeat;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

#poker-pane-header {
  color: white;
  font-size: 64px;
  text-align: center;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
  font-family: 'medicine_show_capsregular';
  margin-bottom: 20px;
}

.card-row {
  display: table;
  width: 100%;
  table-layout: fixed;
  margin-bottom: 50px;
}

.card-container {
  display: table-cell;
  width: 100%;
  text-align: center;
}

.player-table-header {
  font-size: xx-large;
  color: white;
  font-weight: bold;
  text-decoration: underline;
}

.player-table-row {
  font-size: x-large;
  color: cornsilk;
}

.folded {
  text-decoration: line-through;
}

.pot-description {
  font-size: xx-large;
  color: white;
  font-weight: bold;
  padding-left: 5px;
  padding-right: 5px;
  border: 3px groove limegreen;
}

#shadow-box {
  background: #111;
  opacity: 0.6;
}

#loading-container {
  position: absolute;
  top: 50%;
  margin-top: -160px;
  left: 0px;
  width: 100%;
}

#loading {
  width: 800px;
  height: 120px;
  margin-left: auto;
  margin-right: auto; 
  background: #ccc;
  border-radius: 10px;
  opacity: 1.0;
  text-align: center;
  font-size: 48pt;
}

/* Chat Pane */

#chat-pane {
  background-image: url('../images/chat_pane.png');
  background-repeat: repeat;
}

#chat-pane-header {
  color: white;
  font-size: x-large;
  text-align: center;
  text-decoration: underline;
  text-shadow: 2px 2px 2px rgba(150, 150, 150, 0.8);
}

#chat-pane-content {
  color: white;
  font-size: x-large;
  overflow-y: hidden;
}

.message {
  margin: 10px 0px;
}

.system-message {
  color: gray;
  text-align: center;
}
